<div class="linked-form__field__value " style="display: inline-block;font-size: 15px;color: #313942;position: relative;width: 20%;margin-left: 10px;">
    <div class="control--select linked-form__select" style="height: 32px;">
        <ul class="custom-scroll control--select--list" style="top: 50px;">
            <li data-value="1122333" class="{{ data.widgetPrefix }}_yo {{ data.widgetPrefix }}_pipe-switch control--select--list--item">
                <span class="control--select--list--item-inner" title="yo">УО</span>
            </li>

            <li data-value="2233444" class="{{ data.widgetPrefix }}_oo {{ data.widgetPrefix }}_pipe-switch control--select--list--item">
                <span class="control--select--list--item-inner" title="oo">ОО</span>
            </li>
        </ul>

        <button class="control--select--button" type="button">
            <span class="{{ data.widgetPrefix }}_control--select--button-inner">{{ data.value }}</span>
        </button>

        <input type="hidden" class="control--select--input" name="CFV[425917]">
    </div>
</div>