<div class="{{ data.widgetPrefix }}_list-row list-row-head js-list-row js-list-row-head " id="list_head">                        

    <div class="js-sort_name {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-name list-row__cell-name  ui-resizable" data-field-template="name" data-field-name="" data-field-code="name" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Имя
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_role {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Роль
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_weight {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Вес
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_left {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Остаток
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_group {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Время работы
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_status {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head  list-row__cell-template-link list-row__cell-contact_company_name  ui-resizable" data-field-template="link" data-field-name="" data-field-code="contact_company_name" style="">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Статус
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

</div>